
<div class="Ai">
    <div class="A">
    <div class="B"><br>
    <img src="assets/images/bill.png"alt="bill.png" width="250"height="200">
    </div>
  
    <div class="C">
    <h1>MOBILE ELECTRICITY PAYMENT AND ELECTRICITY METER CONTROL SYSTEM</h1>
    <div class="D">
    <b><marquee>WELCOME TO ELECTRICITY FREE SYSTEM FOR BILLING AND CONTROLLING</marquee></b>
    <div><div><br><br>
    
    <div class="di">
        <a href="admin.component.html"[routerLink]="['/admin']">ADMIN</a>
    </div>
    <div class="du">
    <a href="login.component.html"[routerLink]="['/login']">BUY NOW</a>
    </div>
    <div class="do">
    <a href="about-us.component.html"[routerLink]="['/about']">OUR SERVICE</a>
    </div>
    <div class="de">
    <a href="contact.component.html"[routerLink]="['/contact']">CONTACT US</a>
    </div>
    </div>
    </div>
    </div></div><br><br></div><br><br><br>
  <div class="M">
      <h3 style="margin-left:80px ;">ABOUT OUR COMPANY</h3>
      <br>
    
  </div>
  
  <div class="N">
    <img src="assets/images/whatsaps.png"alt="whatsaps.png"height="35PX"width="35PX">
   <img src="assets/images/twites.png"alt="twites.png"height="35PX"width="35PX">
   <img src="assets/images/faces.png"alt="faces.png"height="39PX"width="39PX">
   <img src="assets/images/insta.jfif"alt="insta.jfif"height="43PX"width="43PX">
  <br><br>
   <img src="assets/images/pictu.jpg"alt="pictu.jpg" height="330px" width="400px">
  
   
  </div>
  <br><br>
  <br><br>
  <div class="Ao"><br><p style="margin-left: 45%; font-size: 25px;color: white;">CONTACT US</p> <hr> 
 
  
    <div class="foo">
        <img src="assets/images/whatsaps.png" alt="whatsaps.png" height="35px" width="35px">
        <p>Phone No: 0776401807</p>
        <p>Email: faiza0khamis@gmail.com</p>
        <p>Site: www.whasapp.com</p>
        <p>Contact Us with whasapp</p>
    </div>
    <div class="foo">
        <img src="assets/images/twites.png" alt="twites.png" height="35px" width="35px">
        <p>Phone No: 0776401807</p>
        <p>Email: faiza0khamis@gmail.com</p>
        <p>Site: wwww.facebook.com</p>
        <p>Contact Us with twitter</p>
    </div>
    <div class="foo">
        <img src="assets/images/faces.png" alt="faces.png" height="39px" width="39px">
        <p>Phone No: 0776401807</p>
        <p>Email: faiza0khamis@gmail.com</p>
        <p>Site: wwww.facebook.com</p>
        <p>Contact Us with facebook</p>
    </div>
    <div class="foo">
        <img src="assets/images/instagrams.png" alt="instagrams.png" height="50px" width="50px">
        <p>Phone No: 0776401807</p>
        <p>Email: faiza0khamis@gmail.com</p>
        <p>Site: wwww.instagram.com</p>
        <p>Contact Us with instagram</p>
    </div>
  </div>