
  <div class="N"><br>
    <h1 style="margin-left: 15%; font-size: 20px;color: white;">DASHBOARD</h1><hr>
    <ul>
      <li>Customer Records</li><hr><br>
     <li>Transaction Reports</li><hr><br>
     <li>Register Company</li><hr><br>
     <li>Home</li><hr>
    
    </ul>
   </div>
<div class="Ai">
  <div class="A">
  <div class="B"><br>
  <img src="assets/images/bill.png"alt="bill.png" width="180"height="150">
  </div>

  <div class="C">
  <h1 style="color: rgba(44, 42, 42, 0.651);">MOBILE ELECTRICITY PAYMENT AND ELECTRICITY METER CONTROL SYSTEM</h1>
  <div class="D">
  <b><marquee>WELCOME TO ELECTRICITY FREE SYSTEM FOR BILLING AND CONTROLLING</marquee></b>
  <div><div><br><br>
  
    <div class="di">
     <a href="admin.component.html"[routerLink]="['/admin']">ADMIN</a>
    </div>
    <div class="du">
    <a href="login.component.html"[routerLink]="['/login']">BUY NOW</a>
    </div>
    <div class="do">
    <a href="about-us.component.html"[routerLink]="['/about']">OUR SERVICE</a>
    </div>
    <div class="de">
    <a href="contact.component.html"[routerLink]="['/contact']">CONTACT US</a>
  </div>
  </div>
  </div>
  </div></div></div><br>
 <br>
  
<div class="M"><br>
  
</div>
